#shop {
  position: absolute;
  height: 550px;
  width: 20px;
  left: 15px;
  justify-content: start;
  top: 23vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.description {
  width: 200px;
  display: none;
  border: 2px solid white;
  position: relative;
  background-color: indianred;
  color: white;
  padding: 10px;
}
.shopBtn {
  margin-bottom: 10px;
  height: 60px;
  width: 40px;
  border: 1px solid white;
}

#icon1 {
  background-color: indianred;
}
#icon2 {
  background-color: dodgerblue;
}

